asgiref
blinker
click
colorama
crispy-bootstrap4
Django
django-crispy-forms
django-filter
dnspython
greenlet
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pymongo
SQLAlchemy
sqlparse
typing_extensions
tzdata
Werkzeug
